@import '~bootstrap/scss/bootstrap';

.reg-min-width {
  min-width: 11rem;
}

.menu-min-width {
  min-width: 15rem;
}

#main-menu {
  white-space: nowrap;
}

#user_menu {
  background-color: white;

}